<div class="bg-white ms-5">
  <h4>Cursos de programación desde Jardín de Infantes</h4>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Curso de chino para nerds en etapa pre-escolar</h5>
      <p class="card-text">
        La documentación de Angular parece estar en chino? este curso te
        preparará para entenderla.
        <span class="bg-warning p-1"
          >Aprovechá nuestro happy hour: 2x1 chino básico + griego antiguo
          !!!</span
        >
      </p>
      <button type="button" class="btn btn-primary">Inscribirse</button>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Curso de acento británico posh para standups de Scrum
      </h5>
      <p class="card-text">
        Si comiteaste sin testear y rompiste el build y necesitas excusas, este
        curso te permitirá entretener al scrum master... o hacerlo reír...
      </p>
      <button type="button" class="btn btn-primary">Inscribirse</button>
    </div>
  </div>
</div>
